@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap");
* {
  background: rgb(243, 245, 252);
  /* background-color: blueviolet; */
  font-family: "Inter", sans-serif;
}

/* --------------------- */
.aparecer {
  display: block;
}

.ocultar {
  display: none;
}
/* --------------------- */

:root {
  --colorBtm: rgba(10, 56, 113, 1);
  --bgContainer: rgba(255, 255, 255, 1);
  --colorP: rgba(73, 80, 87, 1);
  --colorH: rgba(52, 58, 64, 1);
  --colorIcon: rgba(103, 128, 142, 1);
}

body {
  max-width: 1300px;
  min-width: 375px;
  height: auto;
  display: grid;
  grid-template-columns: 1fr;
  gap: 50px;
  margin: 0 auto;
  grid-template-areas: "header" "main" "footer";
}

/* HEADER */
.header {
  grid-area: header;
  padding: 16px;
}

.header__container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  box-shadow: 5px 5px 10px #d6d8de, -5px -5px 10px #ffffff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

/* MAIN ---------------------------------------*/

.main {
  display: flex;
  gap: 64px;
  flex-direction: column;
  padding: 0px 16px;
}

.main__section {
  grid-area: main;
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.section__textarea {
  resize: none;
  width: 100%;
  height: 286px;
  color: var(--colorBtm);
  font-weight: 400;
  font-size: 32px;
  outline: none;
  padding: 5px;
  border: 0;
  box-shadow: inset 5px 5px 10px #d6d8de, inset -5px -5px 10px #ffffff;
  border-radius: 5px;
}

.divv {
  display: none;
}

.section__div-text {
  display: flex;
  gap: 8px;
  justify-content: baseline;
  align-items: center;
  padding: 0;
}

.div-text__p {
  text-align: center;
  font-size: 12px;
  color: var(--colorP);
}

.bxs-info-circle {
  text-align: center;
  color: var(--colorIcon);
}

.section__div-botton {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.div-botton__encriptar,
.div-botton__desencriptar {
  width: 343px;
  height: 67px;
  color: var(--colorBtm);
  box-shadow: 5px 5px 10px #d6d8de, -5px -5px 10px #ffffff;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.div-botton__encriptar:hover,
.div-botton__desencriptar:hover {
  cursor: pointer;
}

.div-botton__encriptar:active,
.copiar__botom:active,
.icon__link:active,
.div-botton__desencriptar:active {
  box-shadow: inset 5px 5px 10px #d6d8de, inset -5px -5px 10px #ffffff;
}

/* MAIN SECTION2   --------------------------------------------------*/
.main__section--dos {
  color: var(--colorH);
}

.div__munheco {
  display: none;
}

.section--dos__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: auto;
  height: auto;
  padding: 32px;
  box-shadow: 5px 5px 10px #d6d8de, -5px -5px 10px #ffffff;
  border-radius: 32px;
  -webkit-border-radius: 32px;
  -moz-border-radius: 32px;
  -ms-border-radius: 32px;
  -o-border-radius: 32px;
}

.div__h2 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
}

.div__p {
  margin-top: 16px;
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: var(--colorP);
}

.container__copiar {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.copiar__botom {
  display: none;
  width: 279px;
  padding: 24px;
  font-weight: 400;
  font-size: 16px;
  color: var(--colorBtm);
  box-shadow: 5px 5px 10px #d6d8de, -5px -5px 10px #ffffff;
  border-radius: 24px;
  -webkit-border-radius: 24px;
  -moz-border-radius: 24px;
  -ms-border-radius: 24px;
  -o-border-radius: 24px;
}

.aparecer {
  display: block;
}

.ocultar {
  display: none;
}

/* FOOTER-------------------------------------------------------- */
.footer {
  grid-area: footer;
  box-shadow: 5px 5px 10px #d6d8de, -5px -5px 10px #ffffff;
  color: var(--colorBtm);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 9px;
  padding: 20px 6px;
  align-items: center;
  text-align: center;
  border-radius: 30px 30px 0px 0px;
  -webkit-border-radius: 30px 30px 0px 0px;
  -moz-border-radius: 30px 30px 0px 0px;
  -ms-border-radius: 30px 30px 0px 0px;
  -o-border-radius: 30px 30px 0px 0px;
}

.footer__icon {
  display: flex;
  gap: 10px;
  font-size: 25px;
}

.icon__link {
  width: auto;
  height: auto;
  box-shadow: 5px 5px 10px #d6d8de, -5px -5px 10px #ffffff;
  border-radius: 50px;
  padding: 15px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  -ms-border-radius: 50px;
  -o-border-radius: 50px;
}

/* 768px */

@media screen and (min-width: 768px) {
  .header {
    padding: 70px 20px;
  }
  .main {
    padding: 0 20px;
    flex-direction: column;
  }

  .section__div-botton {
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .footer {
    border-radius: 70px 70px 0 0;
    -webkit-border-radius: 70px 70px 0 0;
    -moz-border-radius: 70px 70px 0 0;
    -ms-border-radius: 70px 70px 0 0;
    -o-border-radius: 70px 70px 0 0;
    gap: 25px;
  }

  .footer__icon {
    gap: 15px;
  }
}

/* 1000px */
@media screen and (min-width: 1000px) {
  .header {
    padding: 40px 20px;
  }

  .main {
    display: flex;
    gap: 41px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px 16px;
  }

  .main__section {
    width: 680px;
  }

  .section__textarea {
    height: 500px;
  }

  .section--dos__container {
    width: 300px;
    height: 620px;
  }

  .div__munheco {
    display: block;
  }

  .container__div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
  }

  .container__copiar {
    height: 618px;
    justify-content: space-between;
  }

  .copiar__botom {
    top: 100px;
  }
}

.aparecer {
  display: block;
}

.ocultar {
  display: none;
}
